 body {
    font-family:'Poppins';
    
    font-size: 20px;;
    color: rgb(3, 3, 70);
    padding: 0;
    margin: 0;
}

nav {
    display: flex;

    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.navbar--log {
    width: 100px;
}
.intro {
    text-align: center;
}

.inputLabel{
    display: block;
}
.frm {
    display: block;
    text-align: center;
}
.input{
    display: block;
    margin-bottom: 20px;
    height: 25px;
    width: 40%;
    font-size: 20px;
    border: 1px solid rgb(3, 3, 70);
    outline: none;
    margin-left: 30%;
}
.userForm button {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 3, 70);;
    background-color: lightblue;
}

.aboutus {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 1em;
    height: 2em;
    font-size: 14px;
    font-style: italic;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nextPage{
    height: 100vh;
    position: fixed;
    background: white;
    border: 1px solid red;
    width: 100%;
    transform: translateX(-1800px);
   
}
.expenseType {
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid blue;
    margin-bottom: 5px;
}

.expenseAmt {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid red;
    margin-left: 10px;
    margin-bottom: 5px;
}