@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin:0px;
    padding:0px;
}
.container{
    color:rgb(0, 0, 82);
}

.topBar{
    height: 120px;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
    ;
    width: 80%;
    margin: auto;
 
 }

.navbar--log{
    width: 100px;
    height: 100px;
    display:block;
    margin:auto;
   
}

.introContent{
    text-align: center;
    width: 80%;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
    ;
    margin: auto;
}
.formSection{
    width: 80%;
    height: 350px;
    margin:auto;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
     
}
.headTag{
    text-align:center;
}
.theForm{
    text-align: center;
    font-size: 20px;
}
.describe{
    display: block;
}
.input{
    margin-bottom: 10px;
    height: 30px;

    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
        ;
    outline:none;
}
::placeholder{
    color:rgb(4, 4, 41);
    text-align: center;
}
.adviceBtn{
    height: 30px;
    display:block;
    margin:auto;
    margin-top: 20px;
    background-color:lightskyblue;
    border: none;
}
.adviceBtn:hover{
    cursor: pointer;
}
.close{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 50px; 
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
    color:rgb(3, 3, 29);
    text-align:center;
    
}
.advice{
    width: 100%;
 
   
    /* position: fixed; */
    background-color: white;
    color:rgb(0, 0, 82);
}
.show{
    opacity: 1;
    z-index: 100;
    transform:translateX(0px);
}
.hide{
    opacity: 0;
    z-index: -100;
    position:fixed;
    transform: translateX(-1500px);

}
.breakdownTxt{
    text-align:center;
   
    width: 80%;
    margin:auto;
    margin-top: 20px;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
        ;
}
table {
    width: 50%;
  
   
}
.expenses{
    text-align: center;
        
        width: 80%;
        margin: auto;
        margin-top: 20px;
        box-shadow: 5px 5px 20px rgb(217, 215, 215);
}
caption{
    margin-top: 20px;
}
.expenseTbl{
    margin:auto;
  
}
th {
    width: 50%;
}
.stylerow{
    background-color:rgb(207, 237, 255);
}
.adviceText{
    width: 80%;
    box-shadow: 5px 5px 20px rgb(217, 215, 215);
    margin:auto;
    text-align:center;
}
.text{
    text-align:center;
    margin:10px;
}
.graphBtn{
    height: 30px;
        display: block;
        margin: auto;
        margin-top: 20px;
        background-color: lightskyblue;
        border: none;
}
.graphBtn:hover {
    cursor: pointer;
}
#container {

    width: 50%;
    margin: auto;
    margin-top: 10px;
}

#container2 {

    width: 50%;
    margin: auto;
}
.backAdvBtn{
    height: 30px;
        display: block;
        margin: auto;
        margin-top: 40px;
        background-color: lightskyblue;
        border: none;
        width: 140px;
}
.backAdvBtn:hover {
    cursor: pointer;
}
.backHmeBtn{
    height: 30px;
        display: block;
        margin: auto;
        margin-top: 20px;
        background-color: lightskyblue;
        border: none;
        width: 140px;
}
.backHmeBtn:hover {
    cursor: pointer;
}
footer {
    text-align: center;
    margin-top: 1em;
    height: 2em;
    font-size: 14px;
    font-style: italic;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width:360px){
     .input{
         font-size: 20px;
     }
}